

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 5%;
}


form{
	width: 50%;
	padding: 1rem;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	box-shadow: var(--div-shadow);
}

form>*{
	width: 100%;
	margin-top: 1rem;
}
.form-row{
	display: flex;
	font-size: x-large;
	border-radius: 5px;
	padding-bottom: .5rem;
	border-bottom: 1px solid rgba(0,0,0,.1);

}

.form-row>:first-child{
	flex: 1;
}
.form-row>:last-child{
	flex: 4;
	font-size: x-large;
}
form>:last-child{
	display: flex;
	justify-content: flex-end;
}

input[type='submit']{
	background-color: var(--primery-btn-link);
	color: #fff;
	border: 0;
	border-radius: 4px;
	font-size: large;
	padding: 1% 3%;
	cursor: pointer;
}

input[type='submit']:hover{
	background-color: var(--primery-btn-link-hover);
}

